<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>ObjectCacheModel</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>ObjectCacheModel</key>
		<dict>
			<key>Application</key>
			<data>
			TT3qhUgdOOiGU6DI1/L6y0IB9nXbFjweXtDvetp7Y5g=
			</data>
			<key>Dsym</key>
			<data>
			e/GLXJfP7AvR8lPv5WZfWS0shjfnpQHwXgiDBUoLZVo=
			</data>
			<key>Issue</key>
			<data>
			yTH/yFI17Ww+gm/+AliJMuBS3DGhatqjDnXfXd3PGhw=
			</data>
			<key>Organization</key>
			<data>
			ZIGBHu9DC7hyiGNf1xpmVDXWSEVw6qYbqz8xKDN+7EU=
			</data>
			<key>Session</key>
			<data>
			zr1/76LIw1HLLzxGsxxlGV9m+HtCYwd7afKdeUFDAn8=
			</data>
		</dict>
	</dict>
</dict>
</plist>
